/areaofcircle.cpp
/areaofcircle.exe
/areaoftriangle.cpp
/areaoftriangle.exe
/file.exe
/first.cpp
/first.exe
/newfile.exe
/sample.cpp
/sample.exe
/speed.cpp
/speed.exe
/squareroot.cpp
/squareroot.exe
/sum.cpp
/sumofnaturalnumbers.cpp
/sumofnaturalnumbers.exe
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe